@page "/Account/AccountManagement"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

@inherits AccountManagementBase

<PageTitle>User Management</PageTitle>

<h3 class="text-center my-4 fw-bold fs-3">User Management</h3>

@* <div class="d-flex justify-content-end mb-3">
    <input class="form-control w-25" placeholder="Search users..." @bind="searchTerm" @bind:event="oninput" />
</div> *@

@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-info">@statusMessage</div>
}

@if (usersWithRoles.Count > 0)
{
    <RadzenDataGrid Data="@FilteredUsers" TItem="UserWithRole" ColumnWidth="200px" AllowFiltering="true" AllowPaging="false" AllowSorting="false">
        <Columns>
            <RadzenDataGridColumn TItem="UserWithRole" Property="User.UserName" Title="User name" Filterable="true" />
            <RadzenDataGridColumn TItem="UserWithRole" Property="User.Email" Title="Email" Filterable="true" Width="250px" />
            <RadzenDataGridColumn TItem="UserWithRole" Property="User.EmailConfirmed" Title="Email confirmed" Filterable="true" Width="150px" />
            <RadzenDataGridColumn TItem="UserWithRole" Property="User.PhoneNumber" Title="Phone" Filterable="true" Width="150px" />
            <RadzenDataGridColumn TItem="UserWithRole" Title="Role">
                <Template Context="user">
                    @user.SelectedRole
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="UserWithRole" Title="Action" Width="120px">
                <Template Context="user">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1 btn-brs" Click="@(args => OnSubmitShowUser(user.User))" @onclick:stopPropagation="true" />
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Size="ButtonSize.Medium" Shade="Shade.Lighter" class="rz-my-1 rz-ms-1 btn-brs" Click="@(args => DeleteUser(user.User.Id))" @onclick:stopPropagation="true" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <p>Loading user list...</p>
}

@if (selectedUser != null)
{
    var formName = $"editForm_{selectedUser.Id}";

    <EditForm Model="@selectedUser"
              OnValidSubmit="OnSaveUserEdit"
              FormName="@formName">
        <DataAnnotationsValidator />
        <div class="modal show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-center fw-bold fs-5">User information</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">User Name</label>
                            <InputText class="form-control" @bind-Value="selectedUser.UserName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <InputText class="form-control" @bind-Value="selectedUser.Email" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <InputText class="form-control" @bind-Value="selectedUser.PhoneNumber" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <InputSelect class="form-select" @bind-Value="selectedUser.Sex">
                                <option value="">-- Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </InputSelect>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <InputText class="form-control" @bind-Value="selectedUser.Address" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Role</label>
                            <InputSelect class="form-select" @bind-Value="selectedUser.SelectedRole">
                                <option value="">-- Select role --</option>
                                @foreach (var role in allRoles)
                                {
                                    <option value="@role">@role</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" @onclick="HideUserModal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}
