@page "/events/detail/{EventId:int}"
@rendermode InteractiveServer
@attribute [Authorize]

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@using EventTrackingVer2.Models
@using Radzen
@using Radzen.Blazor

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject EventTrackingVer2.Data.ApplicationDbContext DbContext

<h2 class="mb-4 text-center">Event Details</h2>

<EditForm Model="eventDetail" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-2">
        <label>Event Name:</label>
        <InputText class="form-control" @bind-Value="eventDetail.EventName" />
    </div>

    <div class="form-group mb-2">
        <label>Organizer:</label>
        <InputText class="form-control" @bind-Value="eventDetail.Organizer" />
    </div>

    <div class="form-group mb-2">
        <label>Location:</label>
        <InputText class="form-control" @bind-Value="eventDetail.Location" />
    </div>

    <div class="form-group mb-2">
        <label>Start Time:</label>
        <InputDate class="form-control" @bind-Value="eventDetail.StartTime" />
    </div>

    <div class="form-group mb-2">
        <label>End Time:</label>
        <InputDate class="form-control" @bind-Value="eventDetail.EndTime" />
    </div>

    <div class="form-group mb-2">
        <label>Number of Participants:</label>
        <InputNumber class="form-control" @bind-Value="eventDetail.NumberOfParticipants" />
    </div>

    <br />

    <RadzenDataGrid TItem="Guest"
                    @ref="guestGrid"
                    Data="@guestList"
                    AllowPaging="true"
                    PageSize="10"
                    EditMode="DataGridEditMode.Single"
                    CellClick="@OnCellClick"
                    RowUpdate="@OnUpdateRow"
                    ColumnWidth="180px">

        <Columns>
            <RadzenDataGridColumn TItem="Guest" Property="GuestCode" Title="Guest Code" Width="120px" />

            <RadzenDataGridColumn TItem="Guest" Property="GuestName" Title="Guest Name" IsInEditMode="@IsEditing">
                <Template Context="g">@g.GuestName</Template>
                <EditTemplate Context="g">
                    <RadzenTextBox @ref="editor" @bind-Value="g.GuestName" Style="width: 100%;" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Guest" Property="PhoneNumber" Title="Phone Number" IsInEditMode="@IsEditing">
                <Template Context="g">@g.PhoneNumber</Template>
                <EditTemplate Context="g">
                    <RadzenTextBox @ref="editor" @bind-Value="g.PhoneNumber" Style="width: 100%;" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Guest" Property="Email" Title="Email" IsInEditMode="@IsEditing">
                <Template Context="g">@g.Email</Template>
                <EditTemplate Context="g">
                    <RadzenTextBox @ref="editor" @bind-Value="g.Email" Style="width: 100%;" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Guest" Property="Status" Title="Status" IsInEditMode="@IsEditing">
                <Template Context="g">@g.Status</Template>
                <EditTemplate Context="g">
                    <RadzenDropDown @ref="editor"
                                    @bind-Value="g.Status"
                                    Data="@statusOptions"
                                    Style="width:100%;" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Guest" Property="Result" Title="Result" IsInEditMode="@IsEditing">
                <Template Context="g">@g.Result</Template>
                <EditTemplate Context="g">
                    <RadzenDropDown @ref="editor"
                                    @bind-Value="g.Result"
                                    Data="@resultOptions"
                                    Style="width:100%;" />
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <button type="submit" class="btn btn-success mt-3">Save Changes</button>
</EditForm>
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info mt-3">@message</div>
}